<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.2.min.js"></script> 
    </head>
    <body>
        <!--http://www.ch-d-ch.com/Handle/choujiang-->
        <!--http://mmbiz.qpic.cn/mmbiz_jpg/nTUfKdhHpfib5JbibLfPTtC5tyhaBPFLYWDt0vf1e2Z31GibswLSlHTq4ZOn0Zhg2nrYtHqkJ7xKfdvrxdQ1DS6cw/0-->
        <img src='http://www.ch-d-ch.com?url=mmbiz.qpic.cn/mmbiz_jpg/nTUfKdhHpfib5JbibLfPTtC5tyhaBPFLYWDt0vf1e2Z31GibswLSlHTq4ZOn0Zhg2nrYtHqkJ7xKfdvrxdQ1DS6cw/0'>
        
    </body>
</html>
