<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div style="width:80%; height:auto;">
        <div>
            <label><span>用户帐号：</span><input style="width:200px" /></label>
            <button style="border:solid 1px black">查询</button>
        </div>
        <div>
            <span>姓　　名：张三</span>
        </div>
        <div>
            <span>身份证号：123456789123456789</span>
        </div>
        <div>
            <span>电　　话：13900000000</span>
        </div>
        <div>
            <div>
                <label><span>充值金额：</span><input style="width:200px" /></label>
            </div>
            <div>
                <label><span>充值说明：</span><input style="width:200px" /></label>
            </div>
            <div>
                <label><span>安全密码：</span><input style="width:200px" /></label>
            </div>
        </div>
    </div>
</body>
</html>
