<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
        <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
    </head>
    <body style="margin-left:10px">
        <form method="post" action="__URL__/user_register" id='form'>
         <div class='group' style="width: 50%;float:left">
            <div class="form-group" style="margin: 0">&nbsp;</div>
            <div class="form-group">
                <label for="exampleInputEmail1">请输入客户手机号码</label>
                <input type="text" class="form-control" id="tel" style="width:50%;" maxlength="11" name="tel" data-kai="off">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">请输入客户姓名</label>
                <input type="text" class="form-control" id="name" style="width:50%;" maxlength="11" name="real_name" data-kai="off">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">请输入客户身份证号码</label>
                <input type="text" class="form-control" id="code" style="width:50%;" maxlength="18" name="code" data-kai="off">
            </div>
            <input type='submit' value='注册' class='btn btn-primary' style='width:50%'>
         </div>
        </form>
    <script>
        $(function(){
            //表单验证
           $("#form").submit(function(){
               var result = false;
               if($("#tel").val()==""){
                   alert("请输入客户手机号码!");
                   return false;
               }else if(isNaN($("#tel").val())){
                   alert("请输入数字!");
                   return false;
               }else if($("#tel").val().length!=11){
                   alert("请输入正确的11位手机号码!");
                   return false;
               }else{
                   $.ajax({
                        async:false,
                        type:"post",
                        url:"__URL__/register_ajax",
                        dataType: "text",
                        data:{tel:$("#tel").val()},
                        success:
                        function(res){
                            if(res==1){
                                alert("手机号码已存在，请重新输入!");
                                result = false;
                            }else{
                                result = true;
                            }
                        }
                   })
               }
               if($("#name").val()==""){
                   alert("请输入客户姓名!");
                   return false;
               }
               if($("#code").val()==""){
                   alert("请输入客户身份证号码!");
                   return false;
               }
               return result;
           }) 
        })
    </script>
        <script type="text/javascript">
   jQuery(window).load(function() {
    jQuery("#load").fadeOut(500);
});
  </script>
	<!-- END JAVASCRIPTS -->
        <div style="position: absolute;display:block;width:100%;top:25%" id="load">
            <center><img src='/Public/images/wait.gif' style="width:70px;height:70px"></center>
        </div>
    </body>
</html>
