<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="__PUBLIC__/css/tongji.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/js/bianse.js"></script>
</head>
<body>
    <!--<form method="post" action="__URL__/weirenzheng">-->
    <div>
        <div>
            <span class="zhanghao">合同列表</span>
            <table id="neirong" border="0" cellspacing="0">
                <tr class="tou">
                    <td>序号</td>
                    <td>用户名</td>
                    <td>店长</td>
                    <td>设计师</td>
                    <td>合同单号</td>
                    <td>资质</td>
                    <td>合同金额</td>
                    <td>应付电子币</td>
                    <td>实付电子币</td>
                    <td>应付现金</td>
                    <td>签约时间</td>
                </tr>
                <volist name="ren" id="val" key="k">
                <tr class="neirong">
                    <td>{:(I('get.p'))?((I('get.p')-1)*12+$k):($k)}</td>
                    <td>{$val.user_id}</td>
                    <td>{$val.dianzhang}</td>
                    <td>{$val.sheji}</td>
                    <td>{$val.danhao}</td>
                    <td>{$val.zizhi}</td>
                    <td>{$val.hetong}</td>
                    <td>{$val.chaochu}</td>
                    <td>{$val.jiaona}</td>
                    <td>{$val.shengyu}</td>
                    <td>{$val.time}</td>
                </tr>
                </volist>
            </table>
            <div class="fena">{$show}</div>
        </div>
    </div>
    <!--</form>-->
    <script>
//        $(document).ready(function(){
//            var tr = $(".neirong");
//            for(var i=0;i<tr.length;i++){
//                $(".neirong").eq(i).children("td").eq(0).html(i+1);
//            }
//        })
    </script>
</body>
</html>
