<!DOCTYPE html>
<html>
    <head>
        <title>修改内容</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="__PUBLIC__/v3/css/bootstrap.css" rel="stylesheet" />
        <script src="__PUBLIC__/jq/jquery-2.0.3.min.js"></script>
        <script src="__PUBLIC__/v3/js/bootstrap.js"></script>
        <script src="__PUBLIC__/toastr-master/toastr.js"></script>
        <link href="__PUBLIC__/toastr-master/toastr.css" type="text/css" rel="stylesheet" />
        <style>
            .top{
                width:100%;padding:5px;
            }
            .bottom{
                width:100%;padding:5px;
            }
        </style>
    </head>
    <body>
        <form id='form' method="post" action="__URL__/con_upt">
            <input type='hidden' value="{$find.news_id}" name="id">
        <div class='top'>
            <center>
            <div class="form-group">
                <label for="title">内容标题</label>
                <input type="text" class="form-control" id="title" name='title' value='{$find.news_title}' style='width:800px'>
            </div>
            </center>
        </div>
        <div class='bottom'>
            <center>
            <div class="form-group">
                <label for="mokuai">模块名称</label>
                <select class="form-control" style='width:800px' name='mokuai' id='mokuai'>
                    <if condition='$find.news_mokuai eq 1'>
                        <option value='0'>请选择模块</option>
                        <option value='1' selected="selected">企业简介</option>
                        <option value='2'>产品介绍</option>
                        <option value='3'>招商加盟</option>
                        <option value='4'>新闻中心</option>
                        <elseif condition='$find.news_mokuai eq 2'/>
                        <option value='0'>请选择模块</option>
                        <option value='1'>企业简介</option>
                        <option value='2' selected="selected">产品介绍</option>
                        <option value='3'>招商加盟</option>
                        <option value='4'>新闻中心</option>
                        <elseif condition='$find.news_mokuai eq 3'/>
                        <option value='0'>请选择模块</option>
                        <option value='1'>企业简介</option>
                        <option value='2'>产品介绍</option>
                        <option value='3' selected="selected">招商加盟</option>
                        <option value='4'>新闻中心</option>
                        <elseif condition='$find.news_mokuai eq 4'/>
                        <option value='0'>请选择模块</option>
                        <option value='1'>企业简介</option>
                        <option value='2'>产品介绍</option>
                        <option value='3'>招商加盟</option>
                        <option value='4' selected="selected">新闻中心</option>
                    </if>
                    
                </select>
            </div>
            <div class="form-group">
                <label for="EditorId">正文内容</label>
                <textarea  type="text"  name="content" id="EditorId" placeholder="请输入内容">{$find.news_content}</textarea>
                <script type="text/javascript" charset="utf-8" src="__PUBLIC__/jq/ueditor.config.js"></script>
                <script type="text/javascript" charset="utf-8" src="__PUBLIC__/jq/ueditor.all.min.js"></script>
                <script type="text/javascript">
                    window.UEDITOR_HOME_URL = "__PUBLIC__/admin/ueditor/";//配置路径设定为UEditor所放的位置
                    window.onload=function(){
                    window.UEDITOR_CONFIG.initialFrameHeight=300;//编辑器的高度
                    window.UEDITOR_CONFIG.initialFrameWidth=800;//编辑器的宽度
                    var editor = new UE.ui.Editor({
                        imageUrl : '__APP__/Editor/uploadImage',
                        fileUrl : '__APP__/Editor/uploadFile',
                        imagePath : '',
                        filePath : '',
                        imageManagerUrl:'__APP__/Editor/imageManage', //图片在线管理的处理地址
                        imageManagerPath:'__ROOT__/'
                    });
                    editor.render("EditorId");//此处的EditorId与<textarea name="content" id="EditorId">的id值对应 </textarea>
                  }
                </script>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" style='width:800px' id='sub'>保存</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" style='width:800px' id='fanhui'>返回</button>
            </div>
            </center>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id='myModal'>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">询问</h4>
                </div>
                <div class="modal-body">
                  <p>是否修改?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="submit" class="btn btn-primary">修改</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        </form>
        <script>
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "positionClass": "toast-center-center",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              };
            $(function(){
                $("#sub").click(function(){
                    $('#myModal').modal('show');
                });
                $("#form").submit(function(){
                    if($("#title").val()==""){
                        toastr.warning('请输入标题内容！');
                        $('#myModal').modal('hide');
                        return false;
                    }else if($("#mokuai").val()=="0"){
                        toastr.warning('请选择模块！');
                        $('#myModal').modal('hide');
                        return false;
                    }
                });
                $("#fanhui").click(function(){
                    window.location.href='__URL__/fabu_news';
                })
            });
        </script>
    </body>
</html>
