<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="__PUBLIC__/css/tongji.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/js/bianse.js"></script>
    <style>
        .yinhangka{
            margin-top:20px;margin-left:20px
        }
        .yinhangka > span{
            color:#0000cc;
        }
        .yinhangka > input{
            width:200px;height:25px;
        }
        .sub{
            width:250px;height:30px;
            outline: none;border:0px;
            background:#F90;color:#FFF;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <form method="post" id='form' onSubmit="return confirm();" action="__URL__/addgy_save/id/{$arr.supplier_id}">
    <div>
        <span>新增供应商</span>
    </div>
        <div class="yinhangka">
            <p>供应商名称:</p><input type="text" name="name" id="name" value="{$arr.supplier_name}">
            <p>联系人姓名:</p><input type="text" name="user" id="address" value="{$arr.contacts}">
            <p>供应商电话:</p><input type="text" name="tel" id="tel" value="{$arr.tel}"><br><br>
           <p>选择品牌:</p>
           <volist name="brand" id="val">
               <div style="width:100px;overflow: hidden">
                  
                   <if condition="$val.moren eq 1">
                        <input type="checkbox" name="brand[]" value="{$val.brand_id}" checked="">{$val.brand_name}
                       <else/>
                        <input type="checkbox" name="brand[]" value="{$val.brand_id}">{$val.brand_name}
                   </if>
               </div>
           </volist>
           <br><br>
        </div>
         <input type="submit" value="提交" style="margin: 50px;width:150px;">
    </form>
    <script>
       function confirm(){
         if($("#name").val()==""){
             alert("供应商名称为必填项!");
             return false;
         }
       }
    </script>
</body>
</html>
