<!DOCTYPE html>

<html>
    <head>
        <title>收银成功</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="2;url=shouyin" /> 
    </head>
    <body>
       <div style=" border:#F00 0px solid; width:50%; height:150px; margin-top:150px; margin-left:450px">
        <img src="__PUBLIC__/images/gou.jpg" style="width:80px; height:80px">
        <span style="font-size:24px">您已成功提交订单</span>
    </div>
    </body>
</html>
