<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="__PUBLIC__/css/jquery-confirm.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/css/mobilemain.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/css/main.css" type="text/css" rel="stylesheet">

</head>
<body>

    <div class="container body-content">

        <div class="fanhuian"><a class="ui-button fleft" href="__URL__/tianjiayinhangka">添加银行卡</a></div>
        <table class="table">
            <tbody>
                <tr class="fir-tr">
                    <th>银行</th>
                    <th>开户行名称</th>
                    <th>卡号</th>
                    <th>操作</th>
                </tr>
            <volist name="ka" id="val">
                <tr style="text-align: center">
                    <td>{$val.y_name}</td>
                    <td>{$val.name}</td>
                    <td>{$val.card}</td>
                    <td><a href="__URL__/updateyinhangka/id/{$val.y_id}">修改</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class="pagination-container page_new">
            <div class="pagination-container"><ul class="pagination"><li class="disabled PagedList-skipToPrevious"><a rel="prev">«</a></li><li class="disabled PagedList-skipToNext"><a rel="next">»</a></li></ul></div>
        </div>


    </div>
    <script src="__PUBLIC__/js/jquery-1.10.2.js"></script>

    <script src="__PUBLIC__/js/bootstrap.js"></script>

    <script src="__PUBLIC__/js/jquery-confirm.min.js"></script>

    <script src="__PUBLIC__/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.unobtrusive.js"></script>

    <script src="__PUBLIC__/js/jquery.unobtrusive-ajax.js"></script>


    <script src="__PUBLIC__/js/bootstrap-datetimepicker.js"></script>
    <script src="__PUBLIC__/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>window.parent.scrollTo(0, 0);</script>



</body>
</html>
