<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="__PUBLIC__/css/jquery-confirm.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">

    <link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/css/mobilemain.css" type="text/css" rel="stylesheet"> 
    <link href="__PUBLIC__/css/main.css" type="text/css" rel="stylesheet"> 

</head>
<body marginwidth="0" marginheight="0">
 
    <div class="container body-content">
        
<div class="shuju">注意:每个账户只能校验<span class="go-up">2次</span>请慎重！</div>
<div class="form-horizontal cms-bootstrap" id="id1">
    <div class="form-group">
        <label class="editing-form-label-cell control-label col-md-2 col-xs-4 col-sm-4">真实姓名</label>
        <div class="editing-form-value-cell col-md-10 col-xs-8 col-sm-8">
            <input id="FullName" name="FullName" type="text" value="" class="form-control">
            <span class="field-validation-error" data-valmsg-for="fc_CardNumber" data-valmsg-replace="true"><span id="FullNamem"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label class="editing-form-label-cell control-label col-md-2 col-xs-4 col-sm-4">真实身份证</label>
        <div class="editing-form-value-cell col-md-10 col-xs-8 col-sm-8">
            <input id="idcard" name="idcard" type="text" value="" class="form-control" maxlength="18">
            <span class="field-validation-error" data-valmsg-for="fc_CardNumber" data-valmsg-replace="true"><span id="idcardm"></span></span>
        </div>
    </div>
    <div class="form-group redbutton">
        <div class="form-group-submit col-md-10">
            <input type="button" value="提交信息" id="save" class="btn btn-default">
        </div>
    </div>
</div>
<div id="id2" class="tishi" style="display:none">您已经是实名制用户!</div>

    </div>
    <script src="__PUBLIC__/js/jquery-1.10.2.js"></script>
<script>window.parent.scrollTo(0,0);</script>
<script>
    $(function(){
        $("#save").click(function(){
            var value = $("#FullName").val();
            var code = $("#idcard").val();
            var pattern = /^[\u4e00-\u9fa5]+$/;
            if(value!=""&&code!=""){
               if(!pattern.test(value)){
                    $("#id2").show();
                    $("#id2").html("请输入正确的姓名!");
               }else if(isNaN(code)){
                    $("#id2").show();
                    $("#id2").html("请输入数字!");
               }else if(code.length!=18&&code.length!=15){
                    $("#id2").show();
                    $("#id2").html("身份证长度不符合!请输入正确的15或18位身份证!");
               }else{
                    $.ajax({
                        type:"post",
                        url:"__URL__/realNameAuthentication",
                        dataType: "text",
                        data:{name:value,idcd:code},
                        success:
                        function(data){
                            if(data == 0){
                                $("#id2").show();
                                $("#id2").html("您已经是实名制用户!");
                            }else if(data == 5){
                                $("#id2").show();
                                $("#id2").html("恭喜您完成实名制认证!");
                            }else{
                                $("#id2").show();
                                $("#id2").html("恭喜您修改成功!您还剩下"+data+"次机会可以修改!");
                            }
                        }
                    })
                }
            }else{
                $("#id2").show();
                $("#id2").html("请输入身份信息!");
            } 
        })
    })
</script>
</body>
</html>