<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
</head>

<body>
<div class="col-sm-9 col-md-9">
<div class="content_r">
<div class="s hidden-xs">
	<h1>商品对接流程</h1>
</div>
<div class="x nr">
<div class="d">诚兑城联盟商商品对接流程</div>
<div>
<div>
一、招商方向</div>                                                        
1、欢迎生产和经营满足消费者需求的各类商品厂商，入驻诚兑城电商平台；
2、商品需要符合国家法律法规等规范性制度的要求；
3、商品需适合电子商务交易和方便物流运输；
4、有售后、零配件和耗材服务需要的，联盟商需能提供配套服务和支持；
5、符合诚兑城有关商品合作要求的其它规定。
</div>
<div>
<div>
二、招商标准</div>                                                       
1、商品生产厂商或全国总代或国内一级代理；
2、联盟商必须具备企业法人资质。
</div>
<div>
<div>
三、对接流程</div>                                                        
第一步：提交申请
有合作意向且符合上述条件的企业，请先通过电子邮箱提交合作申请，并把以下资料及所有相关文件材料的扫描件以附件方式发送到招商部邮箱；如有对接推荐人，同时注明对接推荐人姓名、身份证号、会员号；发送完毕后，请致电招商部确认是否成功发送。
</div>
<div class="d">邮件内容包括：</div>
<div>
<div>
一、资质要求</div>
1、企业资质材料：
联盟商需要提供营业执照、开户许可证、信用机构代码证等电子扫描件材料，洽谈人如不是企业法人，需出示加盖供应商公章的授权委托书。
2、企业介绍材料：
需要提交公司宣传图册或文本介绍一份，简介中需包含企业成立时间、现地址、主营产品、公司规模、生产能力、技术条件、现有销售渠道等。
3、必备材料：
生产及流通许可证、卫生许可证、批次检验报告；
4、根据需要提交的证件：
保健食品批准证书；绿色食品证书；属专利性质商品的专利证书；原产地域专用标志证明；酒类生产及流通许可证；国产酒类专卖许可证；酒类流通备案登记表；酒水随付单；有机农产品证书；无公害农产品产地认定证书；进口保健食品批准证；进口保健食品卫生证书；进口食品标签审核证书等。
</div>
<div>
<div>
二、产品要求</div>
1、商品包装要求（提供照片）：
A、包装内商品的重量应达到规定重量；
B、每个产品独立包装上印有正规条形码；
C、包装上要标注品名、货号、规格、生产日期、保质期、使用说明、贮藏方式、产地、生产商等；
D、进口商品必须粘贴基本的中文说明（内容同上款要求）。
2、商品资质资料：
A、商品报价单：含产品名称、供货价、建议零售价、对应商品图片、条码、说明等内容。
B、普通快消品：商标注册证、专利证书、商品检验报告、进口商品需出具报关单等加盖公章的材料复印件。
C、食品饮品、保健品、化妆品：需提加盖供应商公章的有效资信材料（复印件、扫描件）：
3、样品要求（预审后提供）：
需要向公司提供包装完整的商品成品一份，不得带简装、试用装，各项标示务必齐全，如某项标识正在注册中，则视为不具备。
第二步：资格预审
招商部每天都会打开电子邮箱，审核合作申请，并在收到申请邮件7天内，通过电子邮件及时回复，明确是否通过初审，是否需要提交补充材料；
第三步：合作洽谈
对于通过初审的申请商，招商部会电话沟通，约定洽谈时间和方式。联盟商需要与招商部预约后，带样品及相应资料开展洽谈。
第四步：正式合作
符合各项招商合作规定并通过洽谈确立合作后，双方签署合作协议，开展正式合作。
</div>
<div>
<div>
四、办公地址及联系方式
</div>
<div>                                        
1、联系方式：
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电  话：022-83842593
</div>
<div>
2、办公时间： 9：00—18：00
</div>
<div>
3、办公地点天津市河西区友谊路50号友谊大厦A座三层
</div>
</div>
</div>
</div>
</div>
</body>
</html>
