<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
</head>

<body>
<div class="col-sm-9 col-md-9"><div class="content_r"><div class="s hidden-xs">
	<h1>合作方案及相关收益</h1>
</div>
<div class="x nr">
<div style="text-align: center;">
 	<img src="__PUBLIC__/images/fa1.png" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa2.png" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa3.png" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa4.jpg" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa5.jpg" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa6.jpg" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa7.jpg" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa8.png" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa9.png" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa10.png" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa11.png" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa12.png" width="960" height="540" /><br /><br /><img src="__PUBLIC__/images/fa13.png" width="960" height="540" /><br /><br />
 </div>
 
</div>
</body>
</html>

