<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
</head>

<body>
<div class="col-sm-9 col-md-9"><div class="content_r"><div class="s hidden-xs">
	<h1>售后服务</h1>
</div>
<div class="x nr">
    <div>
    <div class="d">
        承蒙惠购诚兑城产品，谨致谢意!
    </div>
    <div>
    &nbsp;&nbsp;&nbsp;&nbsp;本着“让消费者开心、放心、用心，让消费行为有尊严、有回报、有未来”的核心价值观，诚兑城（天津）电子商务有限公司郑重承诺：在确保产品的安全性、可靠性同时，不断改进服务质量，从售中到售后的交货、性能检测、产品维护管理、技术服务、用户技术培训等各方面，保证顾客能得到最好的服务，让顾客满意、放心。</div>
    <div>
    1、保证产品包装符合防潮、防雨、防锈、防腐及防震要求，标识清晰无误，使物品安全、及时运抵现场。</div>
    <div>
    2、优质、快捷的技术服务。
    为更好地保证产品的正常使用，及时解答用户提出的疑问，帮助用户解决问题，公司售后服务中心和各地售后服务网点，都有专职的客服负责随时为客户免费提供技术咨询服务。
公司售后服务中心有上午9点至下午5点30分的电话服务，由专职的客服受理用户来访，保证用户在使用产品的过程中，及时得到使用上的支持。</div>
<div>
    专线电话：022-88274018</div>
    <div>
    3、要求及建议
    作为诚兑城（天津）电子商务有限公司的用户，我们感谢您对我公司的信赖，您对我公司的产品有任何建议和要求应及时告知我们，同时应按公司各类产品的使用说明书和维护手册进行定期维护，产品出现故障应及时通知我公司各要的维护人员，做到及时发现及时处理，并做好产品运行站日常记录，我们相信通过双方的沟通和配合，一定会维护好产品。
    </div>
    </div>
 
</div>
</body>
</html>

