<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>致诚兑城合作商家的一封信</title>
<link rel="stylesheet" type="text/css" href="css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css"> 
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
<link rel="shortcut icon" href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon">
</head>

<body>
<div class="col-sm-9 col-md-9">
<div class="content_r">
<div class="s hidden-xs">
	<h1>致诚兑城合作商家的一封信</h1>
</div>
<div class="x nr">
<div>
尊敬的诚兑城合作商
</div>
<div>
您好：
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;诚兑城自2016年9月成立以来，秉持初心，不忘承诺，努力实现最初制定下的规划，打造全新互联网商业新模式。创业之路虽然艰难，但是有您的理解和陪伴，实是我们的万幸。如今公司的发展又到了一个重要时刻，我们除了更严格要求自己，在产品质量、服务等方面恪守自己的原则，也期望着商家朋友们给予更多的理解与支持。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很多优秀的国产品牌商品没有跟上市场及消费者的步伐，虽然产品品质过硬却不重视产品营销，导致产品因为包装形象，产品定位等营销问题成为滞销品，产生严重的库存积压，面临死路一条，诚兑城首要做的就是为这些好的国货产品搭建一个销售通道、减少库存积压，为会员提供性价比最高的产品，互利共赢。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与此同时，诚兑城目标把所有联盟企业的营销投入集中到平台上来，集大家的力量搭建大家的平台，完成利客户、利平台、利合作商。传统企业的营销和推广方式无外乎两点：打广告+业务人员的落地推广。传统营销的死穴一：打广告，当今信息通道过于分散，根本无法聚焦，广告投入与获客数量根本无法成正比，更不用计算流量转化的结果了，导致企业投入大量的广告费用后无法拉动销售，周而复始形成恶性循环。死穴二：人工成本持续上涨，而员工全部是打工者心态根本不为企业的未来发展考虑，企业在支付了高额的薪资、保险等成本后无法激发员工的创造激情。更重要的是，“互联网+”的高速发展，传统企业的发展模式将被快速颠覆，老旧的商业模式就不复存在。传统社会之所以有生意可做，是因为信息的不对称使社会的“供给”和“需求”始终是错位的，这就需要商人的商业行为去对接他们，并从中谋利。而互联网搭建起的商业基础会越来越完善，今后两者可以随时精准连接。所有的中间环节都没有了，赚差价的逻辑也就不存在了。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着互联网经济时代的到来，中国当下的企业分为三个等级：三等企业做服务，二等企业做产品，一等企业做平台。今后企业的出路唯有升级成平台，在自己的平台上凝聚起自己的忠实用户，平台上用户体量越大未来的市场就越大，随着细分市场的到来，我们无法从广阔的市场中获取陌生客群，唯有自己建立客群体系，第一步先吸引流量进入，第二步解决流量粘度，第三步形成流量依赖。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;展望未来，诚兑城将联盟企业把营销成本集中起来，通过诚兑城建立一个全新的营销模式，通过分利模式把用户流量吸引平台上来，再通过每月三次的固定分利加大了与客户的粘度，让客户与平台成为合作关系，解决打工心态，让客户自发成为平台宣传员，在通过静态收益及动态收益这家样的政策激发大家的积极性，真正实现多劳多得，互相帮扶的创业激情，通过宠大的平台进行合作商产品的销售、社交、推广等功能！
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你我同在，命运与共，方成生态。加入诚兑城，祝福我们共同的未来！
</div>
</div>
</div>
</body>
</html>
