<!DOCTYPE html>
<html><head id="head"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>
	
</title> 
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="__PUBLIC__/css/jibenziliao.css" rel="stylesheet" type="text/css">
<body class="LTR Safari Chrome Safari50 Chrome50 ZHCN PCDevice ContentBody">
    <form method="post" action="" id="form">
<div class="aspNetHidden">
</div>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="A5343185">
	<input type="hidden" name="__SCROLLPOSITIONX" id="__SCROLLPOSITIONX" value="0">
	<input type="hidden" name="__SCROLLPOSITIONY" id="__SCROLLPOSITIONY" value="0">
</div>

    <div id="ctxM">

</div>
    
  <header class="header" role="banner">
    </header>
  <!--主菜单-->
<div class="kny">
<div class="m-content">
  <div class="p-rich">
          <!--<h2 class="mya-tip">签署协议(积分)</h2>-->
<iframe allowtransparency="yes" border="0" frameborder="no" height="590" id="iframe_id" marginheight="0" marginwidth="0" name="iframe_name" src="__URL__/Joined" width="100%"></iframe></div>
  </div>
</div>
 <div class="footer" id="footer">
     
  </div>
  <script>window.parent.scrollTo(0, 0);</script>
  </form>


</body></html>