<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
</head>

<body>
<div class="col-sm-9 col-md-9">
<div class="content_r">
<div class="s hidden-xs">
	<h1>加盟店开店流程</h1>
</div>
<div class="x nr">
<div style="text-align: center;">
 	<img src="__PUBLIC__/images/jia1.png" width="960" height="540">
</div>
    <div class="d">
        诚兑城加盟旗舰店开店流程
    </div>
    <div>
    第一步、开店基本条件
    </div>
    <div>
    1.具有29万旗舰店产品会员资质；
    2.经营者有经营不少于120㎡独立店铺的能力；
    3.申请人具备独立完成各项事务的能力，具备一定的投资能力和抗风险能力，具有一定的管理经验和运营能力，并能够按照公司要求完成各项事务；
    4.申请人无不良记录，合法经营并按照公司的要求经营，不得有破坏公司利益、诋毁公司名誉、违法违规等损毁社会和国家利益的行为。
	</div>
    <div>
    第二步、选址预审
    </div>
    <div>
	满足开店基本条件后选址（但不租赁），联系业务受理人员提供店铺地址及房屋面积，征求公司审核结果。
	</div>
    <div>
    第三步、店址确定
    </div>
    <div>
公司审核通过后，正式租赁店铺，与工作人员联系建立加盟店开店档案。
	</div>
    <div>
    第四步、公司提供设计方案
    </div>
    <div>
    公司统一装修规划方案，需向公司提供精确尺寸的店铺室内CAD平面图。
    </div>
    <div>
    第五步、向公司索取相关资料
    </div>
    <div>
一、旗舰店装修规划图：1.CAD平面规划图2：装修设计效果图
二、旗舰店数据包：1.logo 2.牌匾 3.宣传类文件 4.荣誉与资质
三、辅助材料：1.货架设计图2.价格签设计图3.购物袋设计图4.名牌5.服装6.胸章
品。
    </div>
    <div>
    第六步：店主筹备事宜
    </div>
    <div>
1.制作牌匾、完成工商注册。参照《办理营业执照及牌匾制作情况说明》）
2.按公司要求规划、装修布置。店内必须具备区域：百货区、服装区、签约洽谈区、吧台。
3.购买货柜、办公设备。店内必须具备电脑、白板、洽谈桌、椅子、货柜、服装柜等
4.招聘店员，完成人员配置。
5.完成产品进货和产品陈列。（咨询加盟店店主提货业务受理人员）
    </div>
    <div>
    第七步：提交授权资料
    </div>
    <div>
将以下资料上交公司，并签订《加盟店加盟协议书》。
</div>
	<div>
     一.《营业执照》复印件  </div>
     <div>
     二.《加盟店加盟协议书》</div>
     <div>
     三.《照片样板图》其中包括（1. 店铺牌匾单独照片、2. 店主办公区照片、3. 店主宣传墙照片、4. 店主货柜旁照片、5. 店主手持营业执照站在店铺牌匾下方）</div>
     <div>
     四.《房屋产权证明》</div>
     <div>
     五.《房屋租赁合同》</div>
     <div>
     六.本人及房主身份证复印件</div>
    
    <div>
    第八步：获得授权书
    </div>
    <div>
	公司通过验收，拟定《加盟店客户审核表》后建档完成开店授权，回寄《授权书》。
	</div>
    </div>
</div>
</body>
</html>

