<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
</head>
<div class="content_r"><div class="s hidden-xs">
    <h1>留言建议</h1>
</div>
 	<div class="x nr"><div id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz">
	<div id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_pM_pMP"></div>
    <div id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_pnlForm" class="FormPanel" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_btnOK')">
		<table class="EditingFormTable">
        <tr id="name">
        	<td class="FieldLabel"><label id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_name_lb" class="EditingFormLabel" for="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_name_txtText">留言者姓名:</label>
            </td>
            <td class="EditingFormValueCell">
            	<div id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_ncpname" class="EditingFormControlNestedControl editing-form-control-nested-control">
					<input name="" maxlength="500" id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_name_txtText" class="form-control" type="text">
				</div>
            </td>
        </tr>
        <tr id="phone">
        	<td class="FieldLabel"><label id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_phone_lb" class="EditingFormLabel" for="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_phone_txtText">联系电话:</label>
        	</td>
        	<td class="EditingFormValueCell">
        		<div id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_ncpphone" class="EditingFormControlNestedControl editing-form-control-nested-control">
					<input name="" maxlength="500" id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_phone_txtText" class="form-control" type="text">
				</div>
        	</td>
    	</tr>
        <tr id="emailinput">
        	<td class="FieldLabel">
        		<label id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_emailinput_lb" class="EditingFormLabel" for="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_emailinput_txtEmailInput">电子邮箱:</label>
            </td>
        <td class="EditingFormValueCell">
           	<div id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_ncpemailinput" class="EditingFormControlNestedControl editing-form-control-nested-control">
			<input name="" maxlength="100" id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_emailinput_txtEmailInput" class="form-control" type="text">
				</div>
        </td>
        </tr>
        <tr id="TextAreaControl">
        	<td class="FieldLabel">
        		<label id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_TextAreaControl_lb" class="EditingFormLabel" for="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_TextAreaControl_txtText">留言内容:</label>
        	</td>
        	<td class="EditingFormValueCell">
        	<div id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_ncptextareacontrol" class="EditingFormControlNestedControl editing-form-control-nested-control">
			<textarea name="" rows="2" cols="20" id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_TextAreaControl_txtText" class="form-control"></textarea>
			</div>
        	</td>
        </tr>
        <tr>
        	<td class="EditingFormButtonLeftCell"></td>
            <td class="EditingFormButtonCell">
            	<input name="" value="确定" id="p_lt_ctl12_pageplaceholder_p_lt_ctl03_On_lineForm_viewBiz_btnOK" class="FormButton btn btn-primary" type="submit">
            </td>
            </tr>
        </table>
	</div>
</div>
</div>
</div>
<body>
</body>
</html>
