<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于购买家装产品通知</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen">
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen">
</head>

<body>
<div class="col-sm-9 col-md-9">
<div class="content_r">
<div class="s hidden-xs">
	<h1>关于购买家装产品通知</h1>
</div>
<div class="x nr">
<div style="text-align: center;">
	<img src="__PUBLIC__/images/jiazhuang.jpg" width="960" height="100%" /><br /><br />
</div>
</div>
</div>
</div>
</body>
</html>