<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$row.title}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css"> 
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
<link rel="shortcut icon" href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon">
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script> 
<style>
	div{text-align:left;}
</style>
</head>

<body>
	<div class="col-sm-9 col-md-9">
    <div class="content_r">
        <div class="s hidden-xs">
            <h1>{$row.title}</h1>
        </div>
<div class="x nr">
    <div style="text-align: center;">
            <!--<div style="text-align:center"><h1>{$row.title}</h1></div>-->
            <div id="content" >
                {$row.content}
            </div>
<!--    	<div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;东风猎猎，冬日的严寒抵挡不住众多消费者的热情，来自四面八方的朋友汇聚在一起，共同见证诚兑城武清旗舰店的开业庆典。</div>
        <img src="__PUBLIC__/images/kaiye1.png" /><br /><br />
        <img src="__PUBLIC__/images/kaiye2.png" /><br /><br />
        <div style=" font-size:10px; text-align:center">诚兑城武清店开业，现场人头攒动，气氛热烈</div><br />
        <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经过不断的创新与磨练，2016年11月8日，诚兑城又一O2O平台线下体验店落成开业，此举象征着天津河西与武清通过“互联网+”方式结合传统零售产业的大胆尝试陆续落地，也标志着定位于全球体验式生活领导者的诚兑城电商平台开启了进军全国O2O电子商务领域的全新篇章！</div>
        
        <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经过不断的创新与磨练，2016年11月8日，诚兑城又一O2O平台线下体验店落成开业，此举象征着天津河西与武清通过“互联网+”方式结合传统零售产业的大胆尝试陆续落地，也标志着定位于全球体验式生活领导者的诚兑城电商平台开启了进军全国O2O电子商务领域的全新篇章！</div>
        <img src="__PUBLIC__/images/kaiye3.png" /><br />
        <div style="font-size:10px; text-align:center">新店开业，产品玲琅满目</div><br />
        <img src="__PUBLIC__/images/kaiye4.png" /><br />
        <div style="font-size:10px; text-align:center">新店开业，产品玲琅满目</div><br />
        <img src="__PUBLIC__/images/kaiye5.png" /><br /><br />
        <img src="__PUBLIC__/images/kaiye6.png" /><br /><br />
        <div style="font-size:10px; text-align:center">亮瞎眼，还有人参噢！！！</div><br />
        <img src="__PUBLIC__/images/kaiye7.png" /><br /><br />
        <img src="__PUBLIC__/images/kaiye8.png" /><br /><br />
        <div style="font-size:10px; text-align:center">新店开业还有优惠呢</div><br />
        <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;诚兑城创立于2016年，定位于全球体验式生活购物领导者，以O2O为基础，以一站式服务为核心，以数据云管理系统为支点，全新打造了一个与消费者多频次、近距离接触的互动体验新平台。整合近万种商家资源，线上线下全网打通，让消费者在互联网和实体购物的融合中获得完全不一样的全新购物体验！</div>
        <img src="__PUBLIC__/images/kaiye9.png" /><br />
        <div style="font-size:10px; text-align:center">诚兑城CEO黄总致开幕词与嘉宾合影留念</div><br />
        <img src="__PUBLIC__/images/kaiye10.png" /><br />
        <div style="font-size:10px; text-align:center">聂总披挂上阵，亲自认真为客户解答疑问</div><br />
        <img src="__PUBLIC__/images/kaiye11.png" /><br />
        <div style="font-size:10px; text-align:center">工作人员热情欢迎您</div><br />
        <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;谁说未来电商一定会打败传统零售？而作为电子商务与传统零售结合的优质典范——诚兑城O2O平台线下体验店的开业，正在重新抒写行业规则，颠覆原有人们的思维模式，这势必将掀起新一轮互联网创新与变革的热潮！</div>-->
    </div>
</div>
</body>
</html>
