<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>长白山野生蓝莓酒</title>
<link rel="stylesheet" type="text/css" href="css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css"> 
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
<link rel="shortcut icon" href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon">
</head>

<body>
<div class="col-sm-9 col-md-9"><div class="content_r"><div class="s hidden-xs">
	<h1>长白山野生蓝莓酒</h1>
</div>
<div class="x nr">
<div style="text-align: center;">
 	<img src="__PUBLIC__/images/lanmei1.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/lanmei2.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/lanmei3.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/lanmei4.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/lanmei5.jpg" width="960" height="540" />
 </div>
 
</div>
</body>
</html>