<!DOCTYPE html>
<html><head id="head"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="__PUBLIC__/css/jibenziliao.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.2.min.js"></script> 
        <title></title>
<style>
.password-strength-text{display:none;}
#p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_passStrength_pnlPasswStrengthIndicator{display:none;}
#p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_lblConfirmPassword{margin-top: 15px;}
#p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_txtConfirmPassword{margin-top: 15px;}  
#p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_passStrength_pnlPasswStrengthIndicator{display:none;}
.FormButton{display:block;width: 98px;}
</style>
<body class="LTR Safari Chrome Safari50 Chrome50 ZHCN PCDevice ContentBody"><div id="WzTtDiV" style="visibility: hidden; position: absolute; overflow: hidden; padding: 0px; width: 0px; left: 0px; top: 0px;"></div>
    <form method="post" action="__URL__/updateLpassword" onSubmit="return confirm();" id="form">
<div class="aspNetHidden">
</div>
<div class="aspNetHidden">
</div>

<div id="ctxM">

</div>
    
  <header class="header" role="banner">

    </header>
  <!--主菜单-->
<div class="kny">
<div class="m-content">
 <div class="p-rich">
          <!--<h2 class="mya-tip">密码修改</h2>-->
<ul class="nav nav-tabs ui-select-listBox">
       <li class="active"><a href="__URL__/modifyPassword">修改登录密码</a></li> 
       <li><a href="__URL__/modifyPassword2">修改安全密码</a></li>     
       </ul><div class="cms-bootstrap AddUserForm">
 <div class="panel-body mima"><div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_pnlWebPart" class="change-password" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_btnOk&#39;)">
	
        
        
        <div class="form-horizontal cms-bootstrap">
            <ul>
                <li class="form-group">
                    <label for="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_txtOldPassword" id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_lblOldPassword" class="editing-form-label-cell control-label col-md-2 col-xs-4 col-sm-4">您的当前密码:</label>
                    <div class="editing-form-value-cell col-md-10 col-xs-8 col-sm-8">
                        <input type="password" id="password" class="form-control" maxlength="32">
                        <span style="color:red" id="password_tt"></span>
                    </div>
                </li>
                <li class="form-group">
                    <label id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_lblNewPassword" class="editing-form-label-cell control-label col-md-2 col-xs-4 col-sm-4" for="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_passStrength_txtPassword">新密码:</label>
                    <div class="editing-form-value-cell col-md-10 col-xs-8 col-sm-8">
<div class="password-strength">
    <input name="newpassword1" type="password" id="newpassword1" class="form-control" maxlength="32">
    <div class="password-strength-text">
        <strong id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_passStrength_lblEvaluation"></strong>
    </div>
    <div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_passStrength_pnlPasswStrengthIndicator" class="passw-strength-indicator">
		
        <div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_passStrength_pnlPasswIndicator">
			
            &nbsp;
        
		</div>
    
	</div>
    <span id="password_nt" class="" style="color:red"></span>
</div>

                    </div>
                </li>
                <li class="form-group">
                    <label for="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_txtConfirmPassword" id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_lblConfirmPassword" class="editing-form-label-cell control-label col-md-2 col-xs-4 col-sm-4">确认密码:</label>
                    <div class="editing-form-value-cell col-md-10 col-xs-8 col-sm-8">
                        <input name="newpassword2" type="password" id="newpassword2" class="form-control" maxlength="32">
                        <span id="password_nt2" style="color:red"></span>
                    </div>
                </li>
            </ul>
            <div class="form-group redbutton"><div class="editing-form-label-cell"></div><div class="editing-form-value-cell">
                <input type="submit" value="修改密码" id="sub" class="btn btn-primary">
            </div></div>
        </div>
    
</div>
</div></div></div>
  </div>
</div>
  <script>window.parent.scrollTo(0, 0);</script>
<script>
    function confirm(){
        var result;
        if($("#password").val()==""){
            $("#password_tt").html("请您输入原密码!");
            return false;
        }else{
            var value = $("#password").val();
            $.ajax({
                async:false,
                type:"post",
                url:"__URL__/modifyPasswordAjax",
                dataType: "text",
                data:{password:value},
                success:
                function(data){
                    if(data!=1){
                        $("#password_tt").html("原密码不正确!请重新输入!");
                        result = false;
                    }else{
                        $("#password_tt").html("");
                    }
                }
            })
        }
        if($("#newpassword1").val()==""){
            $("#password_nt").html("请您输入新密码!");
            return false;
        }else if($("#newpassword1").val().length<6){
            $("#password_nt").html("请输入6-32位的登录密码!");
            return false;
        }else if(!/^([a-z]|[A-Z]|[0-9])*$/.test($("#newpassword1").val())){
            $("#password_nt").html("登录密码不能包含特殊符号!"); 
            return false;
        }else if($("#newpassword1").val()==$("#password").val()){
            $("#password_nt").html("原密码不能与新密码相同!");
            return false;
        }else{
            var val = $("#newpassword1").val();
            $.ajax({
                async:false,
                type:"post",
                url:"__URL__/modifyNewPassword",
                dataType: "text",
                data:{password:val},
                success:
                function(data){
                    if(data==1){
                        $("#password_nt").html("新登录密码不能与安全密码相同!");
                        result = false;
                    }else{
                        $("#password_nt").html("");
                    }
                }
            })
        }
        if($("#newpassword2").val()==""){
            $("#password_nt2").html("请您再次输入新密码!");
            return false;
        }else if($("#newpassword1").val()!=$("#newpassword2").val()){
            $("#password_nt2").html("两次输入的登录密码不相同!请再次输入!");
            return false;
        }else{
            $("#password_nt2").html("");
        }
        return result;
    } 
</script>
 <div class="footer" id="footer">
     
 </div>
  </form>
</body></html>