<!DOCTYPE html>
<html><head id="head"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
</title> 
<link href="__PUBLIC__/css/jibenziliao.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.2.min.js"></script> 
<style>
.password-strength-text{display:none;}
#p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_passStrength_pnlPasswStrengthIndicator{display:none;}
#p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_lblConfirmPassword{margin-top: 15px;}
#p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_txtConfirmPassword{margin-top: 15px;}  
#p_lt_ctl04_pageplaceholder_p_lt_ctl00_ChangePassword_passStrength_pnlPasswStrengthIndicator{display:none;}
.FormButton{display:block;width: 98px;}
</style>
<body class="LTR Safari Chrome Safari50 Chrome50 ZHCN PCDevice ContentBody"><div id="WzTtDiV" style="visibility: hidden; position: absolute; overflow: hidden; padding: 0px; width: 0px; left: 0px; top: 0px;"></div>
    <form method="post" action="__URL__/updateSpassword" onSubmit="return confirm();" id="form">
<div class="aspNetHidden">

</div>
<div class="aspNetHidden">
</div>

    <div id="ctxM">

</div>
    
  <header class="header" role="banner">
    </header>
  <!--主菜单-->
<div class="kny">
<div class="m-content">
  <div class="p-rich">
          <!--<h2 class="mya-tip">密码修改</h2>-->
<ul class="nav nav-tabs ui-select-listBox">
       <li><a href="__URL__/modifyPassword">修改登录密码</a></li><li></li> 
       <li class="active"><a href="__URL__/modifyPassword2">修改安全密码</a></li>     
       </ul><div class="cms-bootstrap xgmima">
<div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_plcMess_pMP">

</div>

<div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_RegForm" class="my-profile-panel">
	
    <div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm">
		<div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_pM_pMP">

		</div><div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_pnlForm" class="form-horizontal">
			
 <div class="form-horizontal cms-bootstrap">
        <div class="form-group">
          <label class="editing-form-label-cell control-label col-md-2 col-xs-4 col-sm-4">原安全密码:</label>
        <div class="editing-form-value-cell col-md-10 col-xs-8 col-sm-8">               
<div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_iOldTwopassword">
				
<div>
    <input name="password" type="password" maxlength="8" id="password" class="form-control">
    <span id="password_tt" class="" style="color:red"></span>
</div>

			</div>
        </div>
    </div>
        <div class="form-group">
          <label class="editing-form-label-cell control-label col-md-2 col-xs-4 col-sm-4">安全密码:</label>
        <div class="editing-form-value-cell col-md-10 col-xs-8 col-sm-8">
<div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword">
				
<div> 
     
<div class="password-strength">
    <input name="newpassword1" type="password" id="newpassword1" class="form-control" maxlength="8">
    
    <div class="password-strength-text">
        <span id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_passStrength_lblPasswStregth" class="password-strength-hint" onmouseover="Tip(&#39;建议密码为12个字符长度，并包含2个非字母数字字符。&#39;)" onmouseout="UnTip()" style="cursor: help;">密码强度:</span>
        <strong id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_passStrength_lblEvaluation"></strong>
    </div>
    <div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_passStrength_pnlPasswStrengthIndicator" class="passw-strength-indicator">
					
        <div id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_passStrength_pnlPasswIndicator">
						
            &nbsp;
        
					</div>
    
				</div>
<span id="password_nt" class="" style="color:red"></span></div>
 
    <div class="ConfirmationSeparator">
    </div>
    <label for="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_txtConfirmPassword" id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_lblConfirmPassword" style="">确认密码</label>
    <input name="newpassword2" type="password" maxlength="8" id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_txtConfirmPassword" class="form-control">
    <span id="password_nt2" style="color:red"></span></div>
    <br>

			</div>
        </div>
    </div>
  <div class="redbutton">
<div class="form-group"><div class="editing-form-label-cell"></div><div class="editing-form-value-cell"><input type="submit" name="p$lt$ctl04$pageplaceholder$p$lt$ctl00$MyProfile$myProfile$editProfileForm$ctl00$btnOK" value="确定" id="p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_btnOK" class="FormButton btn btn-primary"></div></div>
    </div></div></div>
		</div>
	</div>    

</div>

</div></div>
  </div>
<div></div>
<script>window.parent.scrollTo(0, 0);</script>
<script>
    function confirm(){
        var result;
        if($("#password").val()==""){
            $("#password_tt").html("请您输入原安全密码!");
            return false;
        }else{
            var value = $("#password").val();
            $.ajax({
                async:false,
                type:"post",
                url:"__URL__/modifyPassAjax",
                dataType: "text",
                data:{password:value},
                success:
                function(data){
                    if(data!=1){
                        $("#password_tt").html("原密码不正确!请重新输入!");
                        result = false;
                    }else{
                        $("#password_tt").html("");
                    }
                }
            })
        }
        if($("#newpassword1").val()==""){
            $("#password_nt").html("请您输入新安全密码!");
            return false;
        }else if($("#newpassword1").val().length<6){
            $("#password_nt").html("请输入6-8位的安全密码!");
            return false;
        }else if(!/^([a-z]|[A-Z]|[0-9])*$/.test($("#newpassword1").val())){
            $("#password_nt").html("安全密码不能包含特殊符号!"); 
            return false;
        }else if($("#newpassword1").val()==$("#password").val()){
            $("#password_nt").html("新密码不能与原密码相同!");
            return false;
        }else{
            var val = $("#newpassword1").val();
            $.ajax({
                async:false,
                type:"post",
                url:"__URL__/modifyNewPass",
                dataType: "text",
                data:{password:val},
                success:
                function(data){
                    if(data==1){
                        $("#password_nt").html("新安全密码不能与登录密码相同!");
                        result = false;
                    }else{
                        $("#password_nt").html("");
                    }
                }
            })
        }
        if($("#p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_txtConfirmPassword").val()==""){
            $("#password_nt2").html("请您再次输入新密码!");
            return false;
        }else if($("#newpassword1").val()!=$("#p_lt_ctl04_pageplaceholder_p_lt_ctl00_MyProfile_myProfile_editProfileForm_ctl00_ifc_TwoPassword_fcfc_TwoPassword_txtConfirmPassword").val()){
            $("#password_nt2").html("两次输入的登录密码不相同!请再次输入!");
            return false;
        }else{
            $("#password_nt2").html("");
        }
        return result;
    }
</script>
 <div class="footer" id="footer">
     
  </div>
  </form>


</body></html>