<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>长白山松花石上新</title>
<link rel="stylesheet" type="text/css" href="css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css"> 
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
<link rel="shortcut icon" href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon">


</head>

<body>
<div class="col-sm-9 col-md-9"><div class="content_r"><div class="s hidden-xs">
	<h1>长白山松花石上新</h1>
</div>
<div class="x nr">
<div style="text-align: center;">
 	<img src="__PUBLIC__/images/shitou1.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/shitou2.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/shitou3.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/shitou4.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/shitou5.jpg" width="960" height="540" /><br /><br />
 </div>
</div>
</body>
</html>
