<html>
<head id="head">
    <title>
        天津诚兑城电子商务控股有限公司
    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/css/footer.css">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link href="__PUBLIC__/css/index.css" type="text/css" rel="stylesheet" media="screen">
    <link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen">
    <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/js/shop.js"></script>
    <script src="__PUBLIC__/js/index.js"></script>
</head>
<body class="LTR Gecko Gecko48 ZHCN PCDevice ContentBody">
    <form method="post" action="" id="form">

        <input name="lng" id="lng" value="zh-CN" type="hidden">
        <div class="aspNetHidden">
            <input name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="A5343185" type="hidden">
            <input name="__SCROLLPOSITIONX" id="__SCROLLPOSITIONX" value="0" type="hidden">
            <input name="__SCROLLPOSITIONY" id="__SCROLLPOSITIONY" value="0" type="hidden">
        </div>
        <div id="ctxM">
        </div>

        <!--顶部-->
        <div id="header">
            <div class="w">
                <ul class="fl">
                    <li><a style="color:#b1191a;" href="__URL__/index">诚兑城商城首页</a></li>
                    <li class="login">你好</li>
                    <li class="spacer"></li>
                    
                </ul>
                <a href="__URL__/signOut" style='display: none' id="tui">退出</a>
                <ul class="fr">
                    <li class="fore1 dorpdown dd" id="li-myjd">
                        <div class="dt">
                            <i></i>
                            <a href="__URL__/member" style="color:#b1191a;font-weight:600;padding-left: 18px;">会员中心</a><span class="icon"></span>
                        </div>
                        <div class="dorpdown-layer">
                            <div class="dd-spacer"></div>

                            <div class="user-info">
                                <div class="u-pic">
                                    <a href="__URL__/member"><img src="" alt=""></a>
                                </div>
                                <div class="u-name">
                                    <a href="__URL__/member"></a>
                                </div>
                            </div>
                            <div class="otherlist">
                                <div class="fore1">
                                    <div class="item"><a href="__URL__/personalData" target="_blank">基本资料</a></div>
                                    <div class="item"><a href="__URL__/modifyPassword" target="_blank">密码修改</a></div>
                                    <div class="item"><a href="__URL__/Joined2" target='_blank'>签署协议</a></div>
                                    <div class="item"><a href="__URL__/subAccount" target='_blank'>子账户管理</a></div>
                                </div>
                                <div class="fore2">
                                    <div class="item"><a href="__URL__/bankCard" target='_blank'>银行卡管理</a></div>
                                    <div class="item"><a href="__URL__/cashManagement" target='_blank'>提现管理</a></div>
                                    <div class="item"><a href="__URL__/e_list" target='_blank'>电子币充值</a></div>
                                    <div class="item"><a href="__URL__/e_zz" target='_blank'>电子币转账</a></div>
                                </div>
                                <div class="fore3">
                                    <div class="item"><a href="__URL__/bonus" target="_blank">奖金记录</a></div>
                                    <!--<div class="item"><a href="">财务流水</a></div>-->
                                    <div class="item"><a href="">订单信息</a></div>
                                    <div class="item"><a href="">收货地址</a></div>
                                </div>
                            </div><!--otherlist-->

                        </div><!--dorpdown-layer-->
                    </li>
                    <li class="spacer"></li>
                    <li id="li-apps" class="fore dorpdown dd">
<!--                        <div class="dt">
                            <i></i>
                            <a class="mobile-jd" href="#">手机京广和</a><span class="icon"></span>
                        </div>
                        <div class="dorpdown-layer">
                            <div class="dd-spacer"></div>
                            <div class="dd-inner" id="ttbar-apps-main" style="overflow:hidden;padding-top:15px;">
                                <img class="MobileQrCode" style="float:left;" src="">
                                <div style="float:left;width:140px;">
                                    <p style="margin-bottom:0;font-size:14px;">京广和手机端</p>
                                    <p style="margin-bottom:0;color:red;">扫码进入&gt;&gt;</p>
                                    <img src="/images/14.png">
                                </div>
                            </div>
                        </div>-->
                    </li>
                    <li class="spacer"></li>
                    <li class="fore"><div class="dt"><a href="__URL__/index" target="_blank">诚兑城官网</a></div></li>
                    <li class="spacer"></li>
                    <li class="fore dorpdown dd" id="li-serv">
                        <div class="dt">
                            <a href="#">客户服务</a><span class="icon"></span>
                        </div>
                        <div class="dorpdown-layer">
                            <div class="dd-spacer"></div>
                            <div class="serv-item"><a href="">帮助中心</a></div>
                            <div class="serv-item"><a href="">在线客服</a></div>
                            <div class="serv-item"><a href="" target="_blank">留言建议</a></div>
                        </div>
                    </li>
                </ul>
                <span class="clr"></span>
            </div>
        </div><!--顶部end-->
        <div style="display:none">
            <!--<a id="p_lt_ctl01_TopSignOutButton_btnSignOutLink" class="signoutLink" href="javascript:__doPostBack('p$lt$ctl01$TopSignOutButton$btnSignOutLink','')">注销</a>-->
        </div><div id="global-sidebar">
            <div class="relative-div">
                <div class="cart-im-panel">
                    <div id="jl-active-enter">
                        <ul style="display: block;" class="jl-active-items"></ul>
                    </div>
                    <div class="cart-im-box-wrap">
                        <div class="cart-im-box">
                            <a id="side-cart" class="side-button log-send" target="_blank" href="__URL__/gouwuchewu">
                                <em class="red-cart"></em> <em class="white-cart"> </em>
                                <div class="vertical-font">购物车</div>
                            </a>
                            <a id="side-im" class="side-button openIM log-send" href="">
                                <em class="red-im"><span></span></em> <em class="white-im"><span></span></em>
                                <div class="vertical-font">联系客服</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="side-other slide-out">
                    <div class="empty-block-before"></div>
                    <div class="side-other-all">
                        <a id="side-coupon" class="side-button log-send" target="_blank" href="">
                            <em class="red-coupon"></em> <em class="white-coupon"></em>
                            <div class="tip"> 会员中心<em class="black-triangle"></em></div>
                        </a>
                        <a id="side-like" class="side-button log-send" target="_blank" href="">
                            <em class="red-like"></em> <em class="white-like"></em>
                            <div class="tip"> 大众商城 <em class="black-triangle"></em></div>
                        </a>
                    </div>
                    <div class="empty-block-after"></div>
                </div>
                <div class="side-go2top-panel">
                    <div id="go2top">
                        <em class="red-up-arrow"></em>
                        <div><a href="javascript:scroll(0,0)">返回顶部</a>&gt;</div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
	$(function(){
	   $("#global-sidebar").hover(function(){
		   $(".side-other").removeClass("slide-out").addClass("slide-in");
	   },function(){
		   $(".side-other").removeClass("slide-in").addClass("slide-out");
	   });
	});
        </script>
        <!--logo and search-->
        <div class="w">
            <div id="logo">
                <a href="__URL__/index"></a>
            </div> <div id="search">
                <div class="form">
                    <input class="text" id="searchProduct" type="text">
                    <button class="button" type="button" id="searhButton" onclick="linkClick()">搜索</button>
                </div>

                <div id="hotwords">
                </div>
            </div>        <div id="settleup" class="dorpdown">
<!--                <a href="__URL__/gouwuchewu">
                    <div class="cw-icon">
                        <i class="ci-left"></i>
                        <i class="ci-right">&gt;</i>
                        <i class="ci-count">0</i>
                        我的购物车
                    </div>
                </a>-->
                <!-- <div class="dorpdown-layer">
                     <div class="dd-spacer"></div>
                     <div class="prompt">
                         <div class="nogoods">
                             <b></b>购物车中还没有商品，赶紧选购吧！
                         </div>
                     </div>
                 </div>-->
            </div>        <span class="clr"></span>
        </div><!--logo and search end-->
        <div class="menu_style">
            <div class="container">
                <ul class="NavMenu" >
                    <li>
                        <a class="first" href="__URL__/shopliebiao" style="color:#fff;text-align:left;background:#0000ff;">&nbsp;全部商品分类</a>
                        <ul>
                            
<!--<li>-->
  <!--<a href="__URL__/shopliebiao">家用电器</a>-->
<!--        <ul>
        <li><a href="__URL__/shopliebiao">五金家装</a></li>
        <li><a href="__URL__/shopliebiao">大家电</a></li>
        <li><a href="__URL__/shopliebiao">生活电器</a></li>
        <li><a href="__URL__/shopliebiao">厨房电器</a></li>
        <li><a href="__URL__/shopliebiao">个护健康</a></li>
        </ul>-->
<!--</li>-->
<volist name="ren" id="vel">
<li>
  <a href="__URL__/shopliebiao?id={$vel.category_id}">{$vel.category_name}</a>
 </li> 
</volist>
  <ul style="display:none">
<!--<li>
    <a href="__URL__/shopliebiao">清洁用品</a></li>
<li>
  <a href="__URL__/shopliebiao">宠物生活</a>
  
</li>
<li>
  <a href="__URL__/shopliebiao">厨具</a>
  
</li>
<li>
  <a href="__URL__/shopliebiao">灯具</a>-->
  
<!--</li>-->
<!--<li>
  <a href="__URL__/shopliebiao">家纺</a>
  
</li>
<li>
  <a href="__URL__/shopliebiao">家装建材</a>
  
</li>
<li>
  <a href="">家装软饰</a>
  
</li>
<li>
  <a href="">健康睡眠</a>
  
</li>
<li>
  <a href="">生活日用</a>
  -->
<!--</li>
<li>
  <a href="">家具</a>
  
</li></ul>
</li>
<li>
  <a href="">个护化妆</a>
  <ul>
<li>
  <a href="">健康瘦身</a>
  
</li>
<li>-->
  <!--<a href="">洗发护发</a>-->
  
<!--</li>-->
<!--<li>
  <a href="">香水彩妆</a>
  
</li>
<li>
  <a href="">面部护肤</a>
  
</li>
<li>-->
<!--  <a href="">身体护肤</a>
  
</li>
<li>
  <a href="">口腔护理</a>
  
</li>
<li>
  <a href="">女性护理</a>
  
</li></ul>
</li>
<li>
  <a href="">营养保健、食品饮料</a>
  <ul>
<li>
  <a href="">保健器械</a>
  
</li>
<li>
  <a href="">保健食品</a>
  
</li>
<li>-->
<!--  <a href="">地方特产</a>
  
</li>-->
<!--<li>
  <a href="">进口食品</a>
  <ul>
<li>
  <a href="">休闲食品</a>
  
</li>
<li>
  <a href="">坚果炒货</a>
  
</li>
<li>
  <a href="">牛奶</a>
  
</li>
<li>
  <a href="">粮油调味</a>
  
</li>
<li>
  <a href="">糖果巧克力</a>
  
</li>
<li>
  <a href="">蛋糕饼干</a>
  
</li>
<li>
  <a href="">饮料冲调</a>
  
</li></ul>
</li>
<li>
  <a href="">粮油调味</a>
  
</li>
<li>
  <a href="">茗茶</a>
  
</li>
<li>
  <a href="">生鲜食品</a>
  
</li>
<li>
  <a href="">休闲食品</a>
  
</li>
<li>
  <a href="">饮料冲调</a>
  
</li>
<li>
  <a href="">中外名酒</a>
  
</li></ul>
</li>
<li>
  <a href="">男装、女装、内衣、珠宝</a>
  <ul>
<li>
  <a href="">男装</a>
  
</li>
<li>
  <a href="">内衣</a>
  
</li>-->
<!--<li>
  <a href="">女装</a>
  
</li>
<li>
  <a href="">配饰</a>
  
</li>
<li>
  <a href="">珠宝首饰</a>
  
</li></ul>
</li>
<li>
  <a href="">鞋靴、箱包、奢侈品</a>
  <ul>
<li>
  <a href="">小饰品</a>
  
</li>
<li>
  <a href="">时尚眼镜</a>
  
</li>
<li>
  <a href="">潮流女包</a>
  
</li>
<li>
  <a href="">功能箱包</a>
  
</li>
<li>
  <a href="">精品男包</a>
  
</li>
<li>
  <a href="">礼品</a>
  
</li>
<li>
  <a href="">流行男鞋</a>
  
</li>
<li>
  <a href="">奢饰品</a>
  
</li>
<li>
  <a href="">时尚女鞋</a>
  
</li>
<li>
  <a href="">钟表</a>
  
</li></ul>
</li>
<li>
  <a href="">手机、电脑、办公用品</a>
  <ul>
<li>
  <a href="">办公设备</a>
  
</li>
<li>
  <a href="">影音设备</a>
  
</li>
<li>
  <a href="">手机通讯</a>
  
</li>
<li>
  <a href="">手机配件</a>
  
</li>
<li>
  <a href="">摄影摄像</a>
  
</li>
<li>
  <a href="">数码配件</a>
  
</li>
<li>
  <a href="">电脑配件</a>
  
</li>
<li>
  <a href="">电脑整机</a>
  
</li>
<li>
  <a href="">文具耗材</a>
  
</li></ul>
</li>
<li>
  <a href="">母婴、玩具乐器</a>
  <ul>
<li>
  <a href="">妈妈专区</a>
  
</li>
<li>
  <a href="">尿裤湿巾</a>
  
</li>
<li>
  <a href="">寝具服饰</a>
  
</li>
<li>
  <a href="">童车童床</a>
  
</li>
<li>
  <a href="">童装童鞋</a>
  
</li>-->
<!--<li>
  <a href="">玩具乐器</a>
  
</li>
<li>
  <a href="">喂养用品</a>
  
</li>
<li>
  <a href="">洗护用品</a>
  
</li>
<li>
  <a href="">营养辅食</a>
  
</li></ul>
</li>
<li>
  <a href="">运动户外</a>
  <ul>
<li>
  <a href="">垂钓用品</a>
  
</li>
<li>
  <a href="">户外鞋服</a>
  
</li>
<li>
  <a href="">户外装备</a>
  
</li>
<li>
  <a href="">健身训练</a>
  
</li>
<li>
  <a href="">骑行运动</a>
  
</li>
<li>
  <a href="">体育用品</a>
  
</li>
<li>
  <a href="">游泳用品</a>-->
  
<!--</li>
<li>
  <a href="">运动服饰</a>
  
</li>
<li>
  <a href="">运动跑鞋</a>
  
</li>-->
</ul>
<!--</li>
<li>
  <a href="">休闲娱乐</a>
  
</li>
<!--                            <li>
                                <a href="">家装</a>
                                <ul>
                                    <li>
                                        <a href="">333</a>
                                    </li>
                                </ul>
                            </li>-->
                        </ul>
                    </li>
                    <!--<li><a href="__URL__/index">商城首页</a></li>-->
                    <!--<li><a href="__URL__/shopliebiao">大众商城</a></li>-->
                    <li><a href="__URL__/shopliebiao">创业商城</a></li>
                    <li></li>
                    <li class="phone"><span style='font-size: 22px;color:red'>咨询热线:022-88274018</span></li>
                </ul>
            </div>
        </div>

        <!--banner-->
        <div id="focus">
            <div class="slider">
                <ul class="slider-main">
                    <li style="opacity: 0.96194; z-index: 1;" class="slider-panel">
                        <div class="inner">
                            <a>
                                <img data-lzled="true" src="__PUBLIC__/images/lun1.jpg" data-src="" width="730" height="454">
                            </a>
                        </div>
                    </li>

                    <li style="opacity: 0.0380602; z-index: 0;" class="slider-panel">
                        <div class="inner">
                            <a>
                                <img data-lzled="true" src="__PUBLIC__/images/lun2.jpg" data-src="" width="730" height="454">
                            </a>
                        </div>
                    </li>

                    <li class="slider-panel">
                        <div class="inner">
                            <a>
                                <img data-lzled="true" src="__PUBLIC__/images/lun3.jpg" data-src="" width="730" height="454">
                            </a>
                        </div>
                    </li>

<!--                    <li class="slider-panel">
                        <div class="inner">
                            <a>
                                <img data-lzled="true" src="__PUBLIC__/images/lun4.jpg" data-src="">
                            </a>
                        </div>
                    </li>-->
                </ul>
                <div class="slider-extra">
                    <ul class="slider-nav">
                        <li class="slider-item slider-selected">1</li>
                        <li class="slider-item">2</li>
                        <li class="slider-item">3</li>
                        <!--<li class="slider-item">4</li>-->
                    </ul>
                    <div class="slider-page">
                        <a style="display: none;" href="javascript:;" class="slider-prev">
                            &lt;
                        </a>
                        <a style="display: none;" href="javascript:;" class="slider-next">&gt;</a>
                    </div>
                </div>
            </div>
        </div><!--banner end-->
        <!--公告and生活服务-->
        <div class="w" id="focus-extra">
            <div id="news" class="m">
                <div class="mt">
                    <h2>诚兑城公告</h2>
                    <div class="extra">
                        <a href="/PCmaster/CenterHelp">更多 &gt;</a>
                    </div>
                </div>
                <div class="mc">
                    <ul>
                        <li><a href="" target="_blank"><span>[公告]</span>公告</a></li>
                    </ul>
                </div>
            </div>
            <div id="lifeserv" class="m">
                <div class="mt">
                    <h2>了解诚兑城</h2>
                </div>
                <div class="mc">
                    <img data-lzled="true" src="" data-src="">
                </div>
            </div>
        </div>
        <!--公告and生活服务 end-->
        <div class="lazy-fn-wrap clearfix">
            <!--今日推荐-->
<!--            <div class="w" id="lazy-todays">
                <div id="todays" class="m clearfix">
                    <div class="mt">
                        <div class="jd-clock-wrap">
                            <div class="jd-clock">
                                <div style="transform: rotate(360deg); transition: transform 50s linear 0s;" class="jd-clock-h"></div>
                                <div style="transform: rotate(360deg); transition: transform 25s linear 0s;" class="jd-clock-m"></div>
                                <div style="transform: rotate(360deg); transition: transform 15s linear 0s;" class="jd-clock-s"></div>
                            </div>
                        </div>jd-clock-wrap end
                    </div>mt
                    <div class="mc">
                        <ul class="today-like clearfix">
                            <li>
                                <a href="">
                                    <img data-lzled="true" src="" data-src="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img data-lzled="true" src="" data-src="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img data-lzled="true" src="" data-src="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img data-lzled="true" src="" data-src="">
                                </a>
                            </li>
                        </ul>
                    </div> mc
                </div>m
            </div>-->
            <!--今日推荐 end-->              <!--猜你喜欢-->
<!--            <div class="w lazy-fn-down" id="lazy-guess-like">
                <div id="guessyou" class="m">
                    <div class="mt">
                        <h2>名优新品</h2>
                        <a href="" class="extra">更多&gt;&gt;</a>
                    </div>
                    <div class="mc">
                        <div class="spacer">
                            <i></i>
                        </div>
                        <ul>
                            <li class="fore1">
                                <div class="p-img">
                                    <a href="" target="_blank"><img data-lzled="true" alt="谷小欠手选茶野生红茶" src="" data-src=""></a>
                                </div>
                                <div class="p-info">
                                    <div class="p-name">
                                        <a href="" target="_blank">谷小欠手选茶野生红茶</a>
                                    </div>
                                    <div class="p-price">
                                        ¥ 290
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
            <!--猜你喜欢 end-->
        </div>
        <div class="lazy-fn-wrap clearfix">
            <!--广告-->
            <div class="floor-banner-body lazy-fn lazy-fn-done" id="lazy-floor-banner-1">
                <div id="floor-banner-1">
                    <div class="floor-banner">
                        <div class="floor-banner-main">
                            <a href="#"></a><a href=""><img alt="" src="    "></a>


                        </div>
                    </div>
                </div>
            </div>
            <!--广告 end-->
        </div><!--lazy-fn-wrap-->
        <!--Floor-->
<!--        <div class="w floor lazy-fn lazy-fn-done floor-current" id="lazy-clothes">
            <div id="clothes" class="m">
                <div class="mt">
                    <h2><i>1F</i>标题</h2>
                    <ul class="tab">
                        <li id="71" class="tab-item tab-selected" style="width: 82px;"> <a href="">分类</a></li>
                    </ul>
                </div>Floor left
                <div class="mc">
                    <div class="side">
                        <div class="side-inner">
                            <div class="banner">
                                <a href=""><img alt="" src=""></a>
                                <div class="title-con">&nbsp;</div>


                            </div>
                        </div>
                    </div> Floor left end
                    Floor right
                    <ul class="Floor-right Floor-right-show">
                        <li class="fore1">
                            <div class="p-img"><a target="_blank" href="" title=""> <img alt="" src="" data-src="" width="350" height="350"> </a> </div>
                            <div class="p-info">
                                <div class="p-name"><a target="_blank" href="" title=""></a></div>
                                <div class="p-price">
                                    ¥ 
                                    <b>
                                        ¥ 
                                    </b>
                                </div>
                            </div>
                        </li>
                    </ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                    Floor right
                    <ul class="Floor-right"></ul>Floor right end
                </div>
            </div>
        </div>Floor end-->
        <!--Floor-->
       <!--Floor end-->
        <div id="service">
            <div class="slogen">
                <img src="">
            </div>
            <!--footer-->
            <div id="footer">
                <div class="container">
                    <div class="footer_list">
                        <ul id="Footer">
                            <li>
                                <a href="" style="margin-bottom: 10px;display: block;">买家帮助</a>
                                <ul>
                                    <li class="footertitle"><a href="">操作指南</a></li>
                                    <li class="footertitle"><a href="">常见问题</a></li>
                                    <li class="footertitle"><a href="">登陆帮助</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="" style="margin-bottom: 10px;display: block;">支付方式</a>
                                <ul>
                                    <li class="footertitle"><a href="">网银支付</a></li>
                                    <li class="footertitle"><a href="">支付宝支付</a></li>
                                    <li class="footertitle"><a href="">货到付款</a></li>
                                    <li class="footertitle"><a href="">线下支付</a></li>
                                    <li class="footertitle"><a href="">公司转账</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="" style="margin-bottom: 10px;display: block;">配送方式</a>
                                <ul>
                                    <li class="footertitle"><a href="">配送范围及运费</a></li>
                                    <li class="footertitle"><a href="">验货与签收</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="" style="margin-bottom: 10px;display: block;">售后服务</a>
                                <ul>
                                    <li class="footertitle"><a href="">退货政策</a></li>
                                    <li class="footertitle"><a href="">退货流程</a></li>
                                    <li class="footertitle"><a href="">退款方式和时效</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="" style="margin-bottom: 10px;display: block;">关于我们</a>
                                <ul>
                                    <li class="footertitle"><a href="">关于诚兑城</a></li>
                                    <li class="footertitle"><a href="">联系我们</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="" style="margin-bottom: 10px;display: block;">合作商帮助</a>
                                <ul>
                                    <li class="footertitle"><a href="">合作微商方案</a></li>
                                    <li class="footertitle"><a href="">O2O经销商合作协议</a></li>
                                    <li class="footertitle"><a href="">招商加盟</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--<div id="coverage">&nbsp;</div>-->
                    <div style="display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0;">&nbsp;</div>
                    <!--
                    <div id="footer-2014">
                    <div class="links"><a href="/PCmaster/CenterHelp?NodeID=317&amp;pid=316">O2O经销商合作协议</a>|<a href="/PCmaster/CenterHelp?NodeID=318&amp;pid=316">招商加盟</a>|<a href="/PCmaster/CenterHelp?NodeID=319&amp;pid=316">合作微商方案</a>|<a href="/PCmaster/CenterHelp?NodeID=327&amp;pid=326">验货与签收</a>|<a href="/PCmaster/CenterHelp?NodeID=330&amp;pid=329">退货流程</a>|<a href="/PCmaster/CenterHelp?NodeID=344&amp;pid=343">关于京广和</a>|<a href="/JingGuangHe/Service/Telephone">联系我们</a>
                    -->
    <!--                    <div class="footpc">
                            <div class="footer_infor">
                                <p class="footer_infor_txt"><span><em>&nbsp;</em> 备案编号：冀ICP备15010753号 &nbsp; 公司地址：</span>深圳市前海深港合作区前湾一路1号A栋201室<span> &nbsp; 电子邮箱：</span>chinajingguanghe@163.com</p>
                                <p>
                                    <span style="color: rgb(153, 153, 153);">全国统一加盟热线：4000-753-763</span><br>
                                    <span><span style="color: rgb(153, 153, 153);">Copyright © All Rights Reserved. 2005-2016 深圳京广和电子商务控股有限公司版权所有</span></span>
                                </p>
                                <div>&nbsp;</div>
                            </div>
                        </div>-->
                </div>
            </div>
            <!--footer end-->

        </div>
    </form>
    <script>
        $(document).ready(function(){
    $.ajax({
        type:"post",
        url:"__URL__/cookSelect",
        dataType: "text",
        data:null,
        success:
        function(data){
            if(data != ""){
                eval("var obj="+data);
                var str = obj.tel.substring(0,3);
                var str2 = obj.tel.substring(7);
                $(".login").html("你好,"+obj.real_name);
                $(".u-name > a").html(obj.real_name);
                $("#tui").show();
                if(obj.head_portrait!=null){
                    $(".u-pic>a > img").attr("src","/cdc/"+obj.head_portrait);
                }else{
                    $(".u-pic >a > img").attr("src","__PUBLIC__/images/1.jpg");
                }
            }else{
                $("#li-myjd").hide();
                $(".login").html("<a href='__URL__/login'>请登录</a>");
            }
        }
    })
})



    </script>
</body>
</html>