<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>诚兑城召开会员系统上线操作说明会</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css"> 
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
<link rel="shortcut icon" href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon">
<style>
	div{text-align:left;}
</style>
</head>

<body>
<div class="col-sm-9 col-md-9">
<div class="content_r">
    <div class="s hidden-xs">
        <h1>诚兑城召开会员系统上线操作说明会</h1>
    </div>
<div class="x nr">
    <div style="text-align: center;">
        <div style="text-align:center"><h1>诚兑城召开会员系统上线操作说明会</h1></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“诚兑城会员系统上线操作说明会” 于10月22-23日在友谊大厦三层诚兑城实体店举行，诚兑城各位领导、商城的百余位会员及新朋友应邀参加了此次活动。
    本次活动主要围绕会员系统操作讲解展开，活动现场，总经理聂春玲女士对诚兑城产品政策、会员系统操作方式进行了详细解读。商城为庆祝会员系统正式上线，开展部分产品三折促销活动。
        </div>
        <img src="__PUBLIC__/images/sm1.png"/>
        <img src="__PUBLIC__/images/sm2.png"/><br />
        <img src="__PUBLIC__/images/sm3.png"/>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与此同时，活动会场还就商城新产品开展试吃品鉴环节，来自长白山的野生椴树蜜、百花蜜，以及来自大连的即食海参供各位会员品鉴，好评如潮。两种蜂蜜经会员品鉴投票后，得票数多的蜜种将作为新产品正式上架。
        </div>
        <img src="__PUBLIC__/images/sm4.png"/><br>
        <img src="__PUBLIC__/images/sm5.png"/>
        <img src="__PUBLIC__/images/sm6.png"/>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本次会员系统上线操作说明会圆满成功。活动结束后，众多新朋友们纷纷表示强烈意愿要加入诚兑城的大家庭共创事业！
        </div>
    </div>
    </div>
    </div>
</body>
</html>
