<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="__PUBLIC__/css/jquery-confirm.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/css/mobilemain.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container body-content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="fn_Type">用户账号</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">姓名</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
<!--            <div class="form-group">
                <label class="control-label col-md-2" for="fn_Type">历史用户账号</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>-->
<!--            <div class="form-group">
                <label class="control-label col-md-2">历史姓名</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>-->
            <div class="form-group">
                <label class="control-label col-md-2">手机</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">地址</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">身份证</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
<!--            <div class="form-group">
                <label class="control-label col-md-2">信息来源姓名</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">服务经理姓名</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>-->
            <div class="form-group">
                <label class="control-label col-md-2">合作资质</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">董事级别</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">已发分红奖金</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">已发董事奖金</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">团队总业绩</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">个人招商额</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">团队人数</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">合同日期</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">合同有效日期</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">注册日期</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">所属旗舰店编号</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">旗舰店编号</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">是否实体店</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">成为实体店时间</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">是否冻结</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">是否借币</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">欠款金额</label>
                <div class="col-md-10">
                    <input value="" readonly="readonly" style="width:300px;">
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                type:"post",
                url:"__URL__/cookSelect2",
                dataType: "text",
                data:null,
                success:
                function(data){
                    if(data != ""){
                        eval("var obj="+data);
                        var str = obj[0].tel.substring(0,3);
                        var str2 = obj[0].tel.substring(7);
                        $(".col-md-10 > input").eq(0).val(obj[0].tel);
                        $(".col-md-10 > input").eq(1).val(obj[0].real_name);
                        $(".col-md-10 > input").eq(2).val(str+"****"+str2);
                        $(".col-md-10 > input").eq(3).val(obj[0].address);
                        $(".col-md-10 > input").eq(4).val(obj[0].identity_card);
//                        $(".col-md-10 > input").eq(5).val(obj[2].tel+","+obj[2].real_name);
//                        $(".col-md-10 > input").eq(6).val(obj[3].assessor_no+","+obj[3].real_name);
                        $(".col-md-10 > input").eq(5).val(obj[4].goods_id);
                        $(".col-md-10 > input").eq(14).val(obj[4].contract_date);
                        $(".col-md-10 > input").eq(15).val(obj[4].end_date);
                        $(".col-md-10 > input").eq(16).val(obj[0].created_date);
                        $(".col-md-10 > input").eq(17).val(obj[4].shop_id);
                    }
                }
            })
        })
    </script>
    <script>window.parent.scrollTo(0,0);</script>
</body>
</html>