<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>致会员朋友的一封信</title>
<link rel="stylesheet" type="text/css" href="css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css"> 
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/duijie.css">
<link rel="shortcut icon" href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon">
</head>

<body>
<div class="col-sm-9 col-md-9">
<div class="content_r">
<div class="s hidden-xs">
	<h1>致会员朋友的一封信</h1>
</div>
<div class="x nr">
<div>
亲爱的会员朋友们：
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大家好，感谢您走进诚兑城并来阅读这封公开信，您可能通过朋友或通过某种渠道听说了诚兑城，并了解了诚兑城的创新互联网模式，可是这样的模式一定让您无法理解和相信，因为这看起来太不真实，怎么会有这么傻的企业，愿意拿出这么大的利润来分给大家，让您不但可以买到产品还能有那么多的收益，下面我就从几个方面跟您聊聊这件事。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如今中国的变换日新月异，甚至可以用移步换景来形容。免费旅游、免费吃饭、免费坐车等等这些在以前听起来几乎是天方夜谭的事情，现在就真实的发生在我们每一天的生活中。我们已经越来越看不懂这个世界了，可这恰恰就是一种进步，是一种新的商业格局在悄悄到来，中国未来将面对三种现象，一：无工可打，打工的的本质是定价出卖自己的劳动力，并不承担结果。随着雇佣时代的结束，你必须主动思考、解决问题，并竭力发挥自己的特长，为社会和他人创造价值，否则你就没有存在的价值，中国人的工作方式正在从“谋生”到“创造”升级。二：无生意可做，传统社会之所以有生意可做，是因为信息不对称使社会的“供给”和“需求”始终是错位的，这就需要商人的商业行为去对接他们，并从中谋利。而互联网搭建起的商业基础会越来越完善，今后两者可以随时精准连接。所有的中间环节都没有了，赚差价的逻辑也就不存在了。中国99%的公司和集体都将消失，各种垂直的平台将诞生，大量自由职业兴起。中国社会的组织结构从公司+员工，变成平台+个人。三：细分市场来临，行业将越来越垂直、协作越来越完善。因此传统的木桶原理不再成立，以前我们总在弥补自己短板，因为你的短板限制了你的综合水平，今后我们将不断延展自己的长处，因为你的长处决定了你的水平。你只需要将你擅长的一方面发挥到极致，就会有其他人跟你协作，这叫长板原理。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所以诚兑城经过详细的市场调研及数据精算建立了这个全新的互联网营销模式，我们联合多家企业共同建立了战略联盟关系同时实现多赢局面。首先是对商家，由于现在的信息分流严重，投入了大量的广告营销费用却很难收获到匹配的客户流量，其次会员用户通过在诚兑城的消费能够跟平台形成一体，长期的关注和推动平台发展，并为平台不断的招纳更多的新用户加入，形成宠大的平台流量，平台为了感谢先期的会员也会拿出最优的分利政策，平台会将原本花在营销、招聘、广告等等的费用直接分配给我们的会员用户，让先期的用户得到最大的收益。
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们常怀感恩之心，常持谦虚之态，在远行的路上，诚兑城愿与您相互鼓舞着前进，共同成就美好的明天！
</div>
</div>
</div>
</body>
</html>
