<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="__PUBLIC__/css/jquery-confirm.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/css/mobilemain.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container body-content">
        <div class="shuju">
            <!--个人招商额:<span class="go-up"> 0</span>-->
        </div>
        <table class="table">
            <tbody>
                <tr class="fir-tr">
                    <th>用户名</th>
                    <th>合同到期时间</th>
                    <th>合作资质</th>
                    <!--<th>个人招商额</th>-->
                    <th>团队总招商额</th>
                </tr>
                <volist name="ren" id="val">
                <tr class="sec-tr">
                    <td>{$val.real_name},{$val.zizhanghu}</td>
                    <td>{$val.end_date}</td>
                    <td>{$val.goods_id}</td>
                    <!--<td>{$val.yeji}</td>-->
                    <td>{$val.yingyee}</td>
                </tr>
                </volist>
            </tbody>
        </table>
        <div class="pagination-container page_new">
            <div class="pagination-container"><ul class="pagination"><li class="disabled PagedList-skipToPrevious"><a rel="prev">«</a></li><li class="active"><a>1</a></li><li class="disabled PagedList-skipToNext"><a rel="next">»</a></li></ul></div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery-1.10.2.js"></script>
    <script>window.parent.scrollTo(0,0);</script>
</body>
</html>