<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/guanyu.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons-core.css">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/nystyle.css" type="text/css" rel="stylesheet" media="screen"> 
</head>

<body>
<div class="col-sm-9 col-md-9"><div class="content_r"><div class="s hidden-xs">
	<h1>政策阐述</h1>
</div>
<div class="x nr">
<div style="text-align: center;">
 	<img src="__PUBLIC__/images/chanshu1.JPG" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu2.JPG" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu3.JPG" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu4.jpg" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu5.JPG" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu6.JPG" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu7.JPG" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu8.JPG" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu9.JPG" width="960" height="540" /><br /><br />
    <img src="__PUBLIC__/images/chanshu10.JPG" width="960" height="540" /><br /><br />
 </div>
 
</div>
</body>
</html>

