<!DOCTYPE html>
<html>
<head id="head">
<title></title>
<meta charset="UTF-8"> 
<link rel="stylesheet" href="__PUBLIC__/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/css/footer.css">
<meta http-equiv="refresh" content="1;url=shop_index.html"> 
<script src="__PUBLIC__/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/myjs.js" type="text/javascript"></script> 
<link href="__PUBLIC__/css/index.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/kefu.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/shopping-cart.css" type="text/css" rel="stylesheet" media="screen"> 
<link href="__PUBLIC__/css/gouwuche.css" type="text/css" rel="stylesheet" media="screen"> 
</head>
<body class="LTR Safari Chrome Safari42 Chrome42 ZHCN PCDevice ContentBody">

    <!--顶部end-->

<!--logo and search-->
    <!--logo and search end-->
<!--logo and search-->
    <!--logo and search end-->
  <div style="border-bottom: 1px solid #bd1c25;"></div>  
    <!-- content start -->
       <div style=" border:#F00 0px solid; width:50%; height:150px; margin-top:150px; margin-left:450px">
       		<img src="__PUBLIC__/images/gou.jpg" style="width:80px; height:80px">
            <span style="font-size:24px">您已成功提交订单</span>
    <div class="operation">
<!--        <a id="" class="checkout-back-link" onclick="" href="__URL__/shop_index">
        	<span id="">&lt;返回诚兑城商城</span>
        </a>-->
	</div>
       </div>

<!--footer end-->
</body>
</html>
